@import '../helpers';
@import '../variables';
@import '../helpers/flex';

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    height: 100%;
    transition: all .3s ease;

    &:after {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: @color--black;
        content: '';
    }

    @media (min-width: @tablet-width-min) {
        padding-bottom: 50px;

        &:after {
            bottom: @flex-margin;
        }
    }
}

.card--intro {
    padding-bottom: 30px;

    &:after {
        bottom: 0;
    }

    .card__content,
    .card__divider,
    .card__title {

        @media (min-width: @tablet-width-min) {
            margin-bottom: 30px;
        }
    }

    @media (min-width: @tablet-width-min) {
        padding-bottom: 0;

        &:after {
            content: none;
        }
    }
}

.card__inner {

}

.card__divider {
    width: 50px;
    height: 2px;
    margin-bottom: 20px;
    background-color: #c4c4c4;
}

.card__image {
    position: relative;
    display: block;
    width: 100%;
    background: transparent no-repeat ~"center/cover";
    border-bottom: 5px solid @color--primary;
    padding-bottom: 2 / 3 * 100%;

    .flex-2-3 > .card & {

        @media (min-width: @tablet-width-min) {
            padding-bottom: ~"calc((2 / 3) * (50% - @{flex-margin} / 2))";
        }
    }

    &:hover {

        &:after {
            background-color: rgba(0, 0, 0, .2);
        }
    }

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0, 0, 0, 0);
        transition: all .3s ease;
    }
}

.card__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.card__logo {
    display: block;
    max-width: 100%;
}

.card__partner-logo {
    max-width: 150px;
    height: auto;
}

.card__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: @font-family--primary;
    font-weight: 400;
    line-height: 1.2;
    .ellipsis(3, 1.2em);

    a {
        transition: all .3s ease;
    }

    a:hover {
        color: @color--primary;
        text-decoration: underline;
    }

    @media (min-width: @tablet-width-min) {
        height: 3 * 1.2em;
    }
}

.card__title--top {
    height: auto;
}

.card__content {

}

.card__image,
.card__divider {
    margin-bottom: 15px;

    @media (min-width: @tablet-width-min) {
        margin-bottom: 20px;
    }
}

.card__category,
.card__meta {
    display: block;
    margin-bottom: 8px;
    color: @color--primary;
    .spaced-title;

    a&:hover {
        text-decoration: underline;
    }

    @media (min-width: @tablet-width-min) {
        margin-bottom: 10px;
    }
}

.card__category {
    display: inline-block;
}

.card__meta--info {
    color: @color--warm-grey;
}

.card__perex {
    margin-bottom: 15px;
    .ellipsis(3);

    p {
        margin: 0;
    }
}