@import '../variables';

/**
 * Newsletter form only for page
 */
.es_shortcode_form {
    position: relative;
}

.es_msg {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    color: #3fc539;
}

.page-content {

    .es_shortcode_form {
        position: relative;
        display: flex;
        margin-top: 20px;

        @media (min-width: @tablet-width-min) {
            margin-top: 0;
            margin-bottom: 70px;
        }
    }

    .es_lablebox {
        position: absolute;
        top: -25px;
        left: 0;

        .es_shortcode_form_email {
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .es_textbox {
        flex: 1 0 auto;
        padding-bottom: 0;
        padding-right: 10px;

        input {
            margin: 0;
            width: 100%;
            padding: 14px;
            border: 1px solid #d2d2d2;
            border-radius: 2px;
            background-color: #fff;
        }
    }

    .es_button {
        padding: 0;

        .es_textbox_button {
            background: @color--primary;
            padding: 14px;
            font-weight: 700;
            border: 1px solid @color--primary;
            border-radius: 2px;
            color: #fff;
        }
    }
}
