@import '../variables';



/**
 * Newsletter form only for page
 */
.es_shortcode_form {
    position: relative;

    .es_textbox_button {
        transition: background .3s ease;

        &:hover {
            cursor: pointer;
            background-color: darken(@color--primary, 10%) !important;
        }
    }

    .es_textbox_button,
    .es_textbox input {

        @media (max-width: @tablet-width-max) {
            font-size: 16px;
        }
    }
}

.es_msg {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    color: #3fc539;
}

.page-content {

    .es_shortcode_form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 30px;

        @media (min-width: @mobile-width-small-min) {
            margin-top: 0;
            flex-wrap: nowrap;
        }

        // Themify breakpoint
        @media (min-width: 681px) {
            margin-bottom: 10px;
        }
    }

    .es_lablebox {
        position: absolute;
        top: -25px;
        left: 0;

        .es_shortcode_form_email {
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .es_textbox {
        flex: 1 0 auto;
        padding-bottom: 0;
        margin-bottom: 10px;

        input {
            margin: 0;
            width: 100%;
            padding: 14px;
            border: 1px solid #d2d2d2;
            border-radius: 2px;
            background-color: #fff;
        }

        @media (min-width: @mobile-width-small-min) {
            padding-right: 10px;
            margin-bottom: 0;
        }
    }

    .es_button {
        width: 100%;
        padding: 0;

        .es_textbox_button {
            width: 100%;
            background: @color--primary;
            padding: 14px;
            font-weight: 700;
            border: 1px solid @color--primary;
            border-radius: 2px;
            color: #fff;

            @media (min-width: @mobile-width-small-min) {
                width: auto;
            }

            @media (min-width: @tablet-width-min) {
                padding: 14px 40px;
            }
        }

        @media (min-width: @mobile-width-small-min) {
            width: auto;
        }
    }
}
