@import '../variables';
@import '../../../node_modules/swiper/dist/css/swiper.css';

.swiper {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    text-align: center;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    background: @color--primary;
    border-radius: 50%;
    opacity: .3;
    transition: all .3s ease;

    &-active {
        opacity: 1;
    }
}

.swiper-button-prev,
.swiper-button-next {
    width: auto;
    height: auto;
    background-image: none !important;

    &:hover {
        cursor: pointer;
    }
}

.swiper--free {
    overflow: hidden;

    .nav-tabs {
        width: 100%;
    }

    .swiper-slide {
        width: auto;
        min-width: 100%;
    }
}

.swiper__progress {
    width: 67px;
    height: 67px;
}

.swiper-container--circles {
    padding: 20px 0;
    margin-bottom: 25px;

    .swiper-slide {
        z-index: 1;
        width: (65px + 9px + 9px);
        padding: 0 9px;

        transform: scale(1);
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.5);
            z-index: 3;
        }

        &.swiper-slide-active {
            transform: scale(1.5);
            z-index: 2;
        }

        &:not(.swiper-slide-active) {

            .img-circle__overlay {
                display: none;
            }
        }
    }

    .swiper-container-buttons {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: -32px;
        z-index: 1;
        padding: 30px 10px;
        transform: translateY(-50%);

        @media (min-width: @tablet-width-min) {
            padding: 30px 20px;
        }
    }

    .icon-next,
    .icon-prev {
        border-color: @color--primary;
    }

    .swiper-button-prev {
        left: 0;
        background-image: linear-gradient(to right, #fff, #fff 50%, rgba(255, 255, 255, .1));
    }

    .swiper-button-next {
        right: 0;
        background-image: linear-gradient(to left, #fff, #fff 50%, rgba(255, 255, 255, .1));
    }

    @media (min-width: @tablet-width-min) {
        margin-bottom: 70px;
    }
}

.swiper-container--stories {
    margin-bottom: 30px;

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 81px;
        z-index: 1;
        padding: 30px;
        transform: translateY(-50%);

        @media (min-width: @tablet-width-min) {
            top: 50%;
            margin-top: -21px;
        }
    }

    .swiper-button-prev {
        left: -30px;
    }

    .swiper-button-next {
        right: -30px;
    }
}

.swiper-container--news {
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:hover {

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next {
            right: 0;
        }
    }

    // If swiper news has only 1 slide
    &.swiper-container--single {

        .swiper-slide {

            @media (min-width: @tablet-width-min) {
                width: 50% !important;
                margin: 0 auto;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
        position: absolute;
        top: 50%;
        z-index: 1;
        padding: 30px 10px;
        margin-top: -15px;
        transform: translateY(-50%);
        transition: all .3s ease;

        @media (min-width: @tablet-width-min) {
            display: block;
            padding: 30px 20px;
        }
    }

    .swiper-button-prev {
        left: -60px;
    }

    .swiper-button-next {
        right: -60px;
    }
}
