@import '../variables';

#pagewrap {
    background-color: #fff;

    .has-fixed-header & {
        padding-top: 0 !important;
    }
}

#footer {
    padding: 0!important;
}

.themify_builder_content {

    .module-divider {
        position: relative;
        margin-top: 0;
        z-index: 0;
        border: none !important;
        text-align: center;;

        &:after {
            position: absolute;
            display: block !important;
            top: 50%;
            left: 0;
            right: 0;
            z-index: -1;
            height: 1px;
            content: '';
            background-color: @color--primary;
        }

        .module-title {
            display: inline-block;
            max-width: 100%;
            padding: 20px 10px;
            margin: 0 !important;
            background-color: #fff;
            font-size: 12px !important;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;

            @media (min-width: @tablet-width-min) {
                max-width: 540px;
                padding: 20px 30px;
            }
        }

        &.divider--strong {

            .module-title {
                letter-spacing: 0;
                font-size: 15px !important;
            }
        }

        &.divider--large {

            .module-title {
                letter-spacing: 0;
                font-size: 15px !important;

                @media (min-width: @tablet-width-min) {
                    font-size: 20px !important;
                }
            }
        }

        &.divider--besom {

            .module-title {
                color: @color--primary;
                font-family: @font-family--secondary;
                font-size: 30px !important;

                @media (min-width: @tablet-width-min) {
                    font-size: 60px !important;
                }
            }
        }
    }
}

body #body .page-content.entry-content {

    width: 100%;
    max-width: 100%;

    @media (max-width: 1280px) {
        width: 100%;
        max-width: 100%;
    }

    .container;
}

.single-story {

    .featured-area {
        display: none;
    }

    .post-title a {
        color: #fff;
    }
}