/************************************************************************************
GENERAL
*************************************************************************************/
body {
	text-align: right;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	text-align: right;
}

/* Site Logo */
.logo-wrap {
	float: right;
	margin-right: auto;
	margin-left: 30px;
}
.social-widget,
#searchform-wrap {
	float: right;
}
.social-widget div.rss {
	margin-right: 11px;
}
#headerwrap #searchform #s {
	padding-right: 25px;
}

/* MENU
================================================ */
#main-nav {
	left: 0;
	right: auto;
}
#main-nav ul ul {
	right: auto;
	left: 100%;
	margin-left: 25px;
}
#main-nav ul ul:before,
#main-nav ul ul:after {
	left: auto;
	right: 100%;
}
#main-nav ul ul:before {
	border-right-color: #ddd;
    border-left-color: transparent;
	margin-right: 1px;
}
#main-nav ul ul:after {
	border-right-color: #fff;
    border-left-color: transparent;
	margin-right: -1px;
}
.no-touch #main-nav ul li:hover > ul {
	margin-left: 15px;
}

/************************************************************************************
POST
*************************************************************************************/
.loops-wrapper .post {
	text-align: right;
}
.loops-wrapper.list-post .post.has-post-date,
.single-post .list-post .post.has-post-date,
.single-post .post.has-post-date + .post-nav,
.single.attachment .post.has-post-date + .post-nav,
.post.has-post-date + .post-nav + .commentwrap {
	padding-left: inherit;
	padding-right: 124px;
}
.loops-wrapper.list-post .post-date-wrap,
.single-post .post .post-date-wrap {
	left: auto;
	right: 0;
}
.loops-wrapper.list-thumb-image .post-date-wrap,
.loops-wrapper.grid4 .post-date-wrap,
.loops-wrapper.grid3 .post-date-wrap,
.loops-wrapper.grid2 .post-date-wrap {
	float: right;
	margin-right: auto;
	margin-left: 15px;
}

/* TEAM SOCIAL
================================================ */
.team-social {
	right: 5.6%;
	left: auto;
}

/************************************************************************************
PAGE PAGINATION
*************************************************************************************/
.pagenav .next:after,
.pagenav a:not(.page-numbers):last-child:after {
    left: auto;
	right: 100%;
    border-left-color: transparent;
    border-right-color: #654e9c;
}
.pagenav .next:hover:after,
.pagenav a:not(.page-numbers):last-child:hover:after {
	border-left-color: transparent;
	border-right-color: #4C397A;
}
.pagenav .prev:after,
.pagenav a:not(.page-numbers):first-child:after {
	right: auto;
	left: 100%;
	border-right-color: transparent;
	border-left-color: #654e9c;
}
.pagenav .prev:hover:after,
.pagenav a:not(.page-numbers):first-child:hover:after {
	border-right-color: transparent;
	border-left-color: #654e9c;
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/
/* post navigation */
.post-nav .prev {
	text-align: left;
}

/************************************************************************************
WIDGET STYLES
*************************************************************************************/
/* feature-posts-list */
.widget .feature-posts-list .post-img {
    float: right;
    margin-left: 1.2em;
    margin-right: 0;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	text-align: right;
}

/************************************************************************************
PROGRESS BAR
*************************************************************************************/
.progress-bar {
	text-align: right;
}

/************************************************************************************
RESPONSIVE
*************************************************************************************/
@media screen and (max-width: 1000px) {
	#headerwrap #menu-icon {
		right: auto;
		left: 0;
	}
	#headerwrap #main-nav ul {
		padding: 0 1em 0 0;
	}
	#headerwrap #main-nav a,
	#headerwrap #main-nav ul a {
		text-align: right;
	}
}
@media screen and (max-width: 680px) {
	.loops-wrapper.list-post .post.has-post-date,
	.single-post .list-post .post.has-post-date,
	.single-post .post.has-post-date + .post-nav,
	.single.attachment .post.has-post-date + .post-nav,
	.post.has-post-date + .post-nav + .commentwrap {
		padding-right: inherit;
	}
	.list-post .post .post-date-wrap,
	.single .post .post-date-wrap {
		float: right;
		margin-right: auto;
		margin-left: 15px;
	}
}