/*  
Skin Name: Red
Version: 1.0
Description: Skin for Corporate
*/

a,
.commentlist .bypostauthor > .comment-author cite:before,
.commentwrap .pagenav a,
.widget a,
.woocommerce .cart-collaterals .shipping_calculator h2 a,
.woocommerce-page .cart-collaterals .shipping_calculator h2 a,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	color: #ef4a4a;
}
.loops-wrapper.list-post .post-date-wrap .post-date,
.single-post .post-date-wrap .post-date,
.loops-wrapper.list-thumb-image .post-date-wrap .post-date,
.loops-wrapper.grid4 .post-date-wrap .post-date,
.loops-wrapper.grid3 .post-date-wrap .post-date,
.loops-wrapper.grid2 .post-date-wrap .post-date,
.featured-area,
.pagenav a,
.pagenav span,
.pagenav .prev,
.pagenav .next,
.pagenav a:not(.page-numbers),
.post-date,
.commentlist .comment-reply-link:hover,
#footerwrap,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
#main-nav li:hover a.wpmenucart-contents {
	background-color: #ef4a4a;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
	color: #ef4a4a;
}

.commentlist .comment-reply-link,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
#main-nav a.wpmenucart-contents {
	border-color: #ef4a4a;
	color: #ef4a4a;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
	border-color: #ef4a4a;
}

.pagenav .prev:after,
.pagenav a:not(.page-numbers):first-child:after {
	border-right-color: #ef4a4a;
}
.pagenav .prev:hover:after,
.pagenav a:not(.page-numbers):first-child:hover:after {
	border-right-color: #bd3a3a;
}
.pagenav .next:after,
.pagenav a:not(.page-numbers):last-child:after {
	border-left-color: #ef4a4a;
}
.pagenav .next:hover:after,
.pagenav a:not(.page-numbers):last-child:hover:after {
	border-left-color: #bd3a3a;
}
.pagenav a:hover, .pagenav a.current, .pagenav span {
	background-color: #bd3a3a !important;
}

#footerwrap,
#footerwrap a {
	color: #eee;
}