.themify_builder .text-108-1-0-1.module-text { column-count: 1;  } 
.themify_builder .accordion-108-1-0-2 .accordion-content { column-count: 1;  } 
.themify_builder .accordion-108-1-0-4 .accordion-content { column-count: 1;  } 
