.themify_builder .text-5-1-0-1.module-text { column-count: 1;  } 
@media screen and (max-width: 480px) {.themify_builder .text-5-1-0-1.module-text { column-count: 1;  } 
}
.themify_builder .text-5-3-0-1.module-text { column-count: 1;  } 
