.themify_builder .text-2218-1-0-1.module-text { column-count: 1;  } 
.themify_builder .accordion-2218-1-0-2 .accordion-content { column-count: 1;  } 
.themify_builder .text-2218-1-0-3.module-text { column-count: 1;  } 
.themify_builder .accordion-2218-1-0-5 .accordion-content { column-count: 1;  } 
