.themify_builder_row.module_row_0 .module_column_0.tb_777_column{width:57%;}.themify_builder .text-777-0-0-1.module-text { column-count: 1;  } 
.themify_builder .buttons-777-0-0-2.module.module-buttons { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;  } 
/* .module_row_0 .module_column_1.tb_777_column Style */
.module_row_0 .module_column_1.tb_777_column.module_column {
	padding-left : 10px
}

.themify_builder_row.module_row_0 .module_column_1.tb_777_column{width:43%;}.themify_builder .text-777-0-1-1.module-text { column-count: 1; margin-left: 10px;  } 
.themify_builder .text-777-1-0-1.module-text { column-count: 1;  } 
.themify_builder .buttons-777-1-0-2.module.module-buttons { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;  } 
.themify_builder .text-777-1-0-4.module-text { column-count: 1;  } 
