.themify_builder .text-95-1-0-1.module-text { column-count: 1;  } 
.themify_builder .accordion-95-1-0-2 .accordion-content { column-count: 1;  } 
.themify_builder .accordion-95-1-0-3 .accordion-content { column-count: 1;  } 
.themify_builder .accordion-95-1-0-4 .accordion-content { column-count: 1;  } 
