.themify_builder .text-1346-0-0-1.module-text { column-count: 1;  } 
.themify_builder .text-1346-0-0-3.module-text { column-count: 1;  } 
.themify_builder .text-1346-0-0-4.module-text { column-count: 1;  } 
.themify_builder .accordion-1346-0-0-5 .accordion-content { column-count: 1;  } 
.themify_builder .text-1346-0-0-6.module-text { column-count: 1;  } 
